.main {
  min-height: calc(100dvh - 150px - 50px - 100px);
}

.mainHome {
  background-color:rgb(255, 255, 255);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 100vh;
  margin-top: 15px;
  margin-bottom: 5px;
}

.mainBG {
  background-image: url("../../images/patrik-fon.jpg");
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.asFlex {
  display: flex;
}

@media screen and (max-width: 870px) {
  .asFlex {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 770px) {
  .main {
    min-height: calc(100dvh - 290px - 100px);
  }
}
